@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vampire Wars';
  src: url('stuffs/Vampire\ Wars.ttf');
}

@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: normal;
  src: url('stuffs/SFMonoRegular.woff') format('woff');
}

@font-face {
  font-family: 'SF Mono';
  font-style: normal;
  font-weight: bold;
  src: url('stuffs/SFMonoBold.woff') format('woff');
}

html,
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2c2c2c;
  color: #fff;
}

/* Nav Bar starts */
.mobile {
  display: none;
}
.desktop {
  display: flex;
}

@media screen and (max-width: 60em) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
}

.nav-logo {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.2),
    0 0 20px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.2);
  transition: text-shadow 100ms;
}

.nav-logo:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.4),
    0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.4);
}
/* Nav Bar ends */

.heading {
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.7);
  animation: lightbulb 2s 1s forwards linear;
  opacity: 0;
}

@keyframes lightbulb {
  0% {
    opacity: 1;
  }
  3% {
    opacity: 0;
  }
  6% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  8% {
    opacity: 0;
  }
  9% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero {
  opacity: 0;
  animation: hero-show 500ms ease-in-out forwards;
  animation-delay: 4s;
}

@keyframes hero-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* input[type='text'] {
  outline: none !important;
} */
